@import './css/atoms.css';
@import './css/flags.css';

#medal-widget-container {
  font-size: 16px;
}

#medal-widget-container table {
  border-collapse: collapse;
}

#medal-widget-container th, td {
  min-width: 18px;
  padding: 6px 8px;
}

#medal-widget-container th {
  border-bottom: 2px solid grey;
  font-weight: 400;
}

#medal-widget-container th.active {
  border-top: 2px solid grey;
}

#medal-widget-container th .medal-header {
  border-radius: 12px;
  margin: auto;
  width: 20px;
  height: 20px;
}

#medal-widget-container td {
  border-bottom: 1px solid silver;
}
